body {
  background-image:  url("/media/pattern3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  font-family: 'Handlee';
}

.App footer {
  font-size: 14px;
  margin: 15px 0;
  color: #c0dfea;
}
.App footer a {
  color: #c0dfea;
  text-decoration: none;
}
