.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #C1DBE3;
  padding: 16px;
  border-radius: 6px;
  background-color: #FAFDFC;
  font-family: 'Handlee';
  margin: 0 auto;
  opacity: .94;
  padding: 30px;
  margin-top: 150px;
}

.Weather .btn {
  background-color: #C1DBE3;
  color: white;
}

.Weather h1 {
  font-size: 80px;
  font-weight: 100;
  margin: 40px 0px;
  line-height: 29px;
  color: #be8da4;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 25px;
  font-weight: 100;
  list-style: none;
  color: #F9DEC9;
}
.Weather canvas {
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: #be8da4;
  font-size: 85px;
  position: relative;
  top: 3px;
  left: 30px;
  margin-right: 5px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: #f7d5ce;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  left: 30px;
  line-height: 1;
  bottom: 28px
 }
 
 .Weather .unit a {
  text-decoration: none;
  color: #f7d5ce;
  }

